@use './variables' as *;
@use './mixins' as *;

.about-page {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 1240px;

  img {
    height: 68px;
  }

  a {
    text-decoration: none;
    color: #ff6060;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;

    &.active {
      text-decoration: underline;
    }
  }
}

/* ===== BANNER ===== */
.banner {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

/* ===== COLLAPSE ===== */
.about-collapses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.collapse {
  background-color: #ff6060;
  border-radius: 5px;
  overflow: hidden;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;

    span {
      font-size: 24px;
      transition: transform 0.3s ease;
    }
  }

  .collapse-content {
    background-color: #f6f6f6;
    color: #000;
    /*padding: 20px;*/
    font-size: 16px;
    
  }
}

/* ===== FOOTER ===== */
.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 50px 0;
  margin-top: auto;

  img {
    filter: brightness(0) invert(1);
    height: 40px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }
}
