.collapse {
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f6f6f6;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;

    h3 {
      margin: 0;
      font-size: 1.1rem;
    }

    .collapse-arrow {
      transition: transform 0.4s ease;
      font-size: 1.2rem;
    }

    .rotated {
      transform: rotate(180deg);
    }
  }

  .collapse-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1rem;
  background-color: #f7f7f7;
  line-height: 1.5;

  
  transition:
    
    
    padding 0.5s ease;
}

&.open .collapse-content {
  max-height: 500px;
  opacity: 1;
  padding: 1rem;
}

  

  &.open .collapse-content {
    max-height: 500px;
    opacity: 1;
    padding: 1rem;
  }
}
