.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;

  &__logo {
    height: 50px;
  }

  &__nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  &__nav .active {
    text-decoration: underline;
  }
}
